<!DOCTYPE html>
<html>
<head>
  <title>Animals Catalog</title>
</head>
<body>
  <%- include('../partials/navbar') %>
  <h1>Animals Catalog</h1>

  <% if (animals && animals.length > 0) { %>
    <ul>
      <% animals.forEach(animal => { %>
        <li><%= animal.name %> - <%= animal.type %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No animals found.</p>
  <% } %>
</body>
</html>
