<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
    </head>
    <body>
        <%- include('../partials/navbar') %>
        <h1>About Us</h1>
        <p>QurbanIn adalah platform untuk memudahkan pembelian hewan qurban secara online.</p>
        <p>Visi kami: membuat proses qurban lebih transparan dan mudah diakses.</p>
        <p>Misi kami: mendukung peternak lokal dan memudahkan masyarakat beribadah.</p>
    </body>
</html>
